.cards-brends {
  display: flex;
}

.cards-brends::after {
  content: "";
  width: 24px;
  height: 105px;
  background: linear-gradient(
    270deg,
    $grey 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  position: absolute;
  right: 0;
}

@media (min-width: 768px) {
  .cards-brends {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    height: 165px;
    overflow-y: hidden;
    transition: all 1s;
  }

  .cards-height {
    overflow-y: auto;
    height: 255px;
    transition: all 1s;
  }
}
