.header-menu__search {
  margin-right: 24px;
  margin-left: 78px;
}

.header-menu__cansel {
  margin-right: 17px;
  margin-left: 24px;
}

.header-menu__logo {
  margin-top: -4px;
  height: 51px;
}

.header-menu {
  display: flex;
  margin-bottom: 32px;
  padding-top: 23px;
}

@media (min-width: 1366px) {
  .header-menu {
    margin-bottom: 57px;
  }

  .header-menu__cansel {
    display: none;
  }

  .header-menu__logo {
    margin-left: 17px;
  }

  .header-menu__search {
    margin-left: 119px;
  }
}
