.cards-type-equipment {
  display: flex;
  padding-left: 0px;
}

.cards-type-equipment::after {
  content: "";
  width: 24px;
  height: 196px;
  background: linear-gradient(
    270deg,
    $grey 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  position: absolute;
  right: 0;
}

.card-type-equipment {
  .button-card {
    position: absolute;
    top: 104px;
    right: 16px;
  }
}

.card-type-equipment {
  span {
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: 500;
  }
}

.card-type-equipment {
  display: flex;
  max-width: 240px;
  height: 160px;
  margin-bottom: 36px;
  margin-left: 16px;
  background-color: $white;
  border-radius: 6px;
  position: relative;
}

@media (min-width: 768px) {
  .card-type-equipment {
    min-width: 224px;
    margin-bottom: 16px;
    margin-left: 24px;
  }

  .cards-type-equipment {
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    overflow-y: hidden;
    transition: all 1s;
  }

  .equipment-height {
    overflow-y: visible;
    height: 330px;
    transition: all 1s;
  }
}

@media (min-width: 992px) {
  .card-type-equipment {
    min-width: 20%;
  }
}

.button-card__icon:hover {
  background: $grey;
  border-radius: 50%;
}

.card-show {
  transition: all 1s;
  transform: translateY(0px);
}

.button-type-equipment__text {
  font-family: TT Lakes;
  font-size: 16px;
}
