@media (min-width: 320px) and (max-width: 767.98px) {
  body {
    margin: 0px;
    padding: 0px;
    background: #F2F2F2;
  }

  .name-menu {
    height: 48px;
    width: 100%;
    font-family: TT Lakes;
    font-size: 16px;
    padding: 16px;
    color: rgba(126, 126, 130, 1);
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-top: 0px;
    border-top: 1px solid #D9FFF5;
  }

  .slide__lenovo {
    width: 116px;
    height: 38.5px;
    margin-top: 5px;
    margin-right: 44px;
    margin-left: 16px;
  }

  .slide__samsung {
    width: 108px;
    height: 32px;
    margin-top: 5px;
    margin-right: 36px;
    margin-left: 16px;
  }

  .slide__apple {
    width: 44px;
    height: 44px;
    margin-right: 108px;
    margin-left: 16px;
  }

  .slide__bosh {
    width: 128px;
    height: 29px;
    margin-right: 25px;
    margin-left: 16px;
  }

  .slide__hp {
    width: 52px;
    height: 52px;
    margin-right: 106px;
    margin-left: 10px;
  }

  .slide__acer {
    width: 94px;
    height: 24px;
    margin-right: 58px;
    margin-left: 16px;
  }

  .slide__viewSonic {
    width: 128px;
    height: 21px;
    margin-right: 42px;
    margin-left: 14px;
  }

  .slide__sony {
    width: 128px;
    height: 26px;
    margin-right: 42px;
    margin-left: 14px;
  }

  .link__next-read {
    margin-right: 16px;
  }

  .slide {
    display: flex;
    max-width: 240px;
    height: 72px;
    margin-bottom: 36px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 6px;
  }


  .swiper-pagination-bullet {
    background-color: #B5B6BC;
  }

  .button-next-read {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
  }

  .name-menu {
    font-family: TT Lakes;
    font-size: 16px;
    padding: 16px;
    padding-left: 24px;
    color: rgba(126, 126, 130, 1);
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    margin-top: 0px;
    border-top: 1px solid #D9FFF5;
  }

  .swiper-wrapper {
    padding: 0px;
    display: flex;
    flex-wrap: wrap; 
  }

  .slide {
    display: flex;
    max-width: 224px;
    height: 72px;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 16px;
    margin-left: 24px;
    align-items: center;
    border-radius: 6px;
  }

  .nav__next-read {
    margin-right: 16px;
  }

  .slide__lenovo {
    margin: 0px;
    width: 116px;
    height: 38.5px;
    margin-left: 16px;
  }

  .slide__samsung {
    margin: 0px;
    width: 108px;
    height: 32px;
    margin-left: 16px;
  }

  .slide__apple {
    margin: 0px;
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }

  .slide__bosh {
    width: 128px;
    height: 29px;
    margin-left: 16px;
  }

  .slide__hp {
    margin: 0px;
    width: 52px;
    height: 52px;
    margin-left: 10px;
  }

  .slide__acer {
    margin: 0px;
    width: 94px;
    height: 24px;
    margin-left: 16px;
  }

  .slide__viewSonic {
    margin: 0px;
    width: 128px;
    height: 21px;
    margin-left: 14px;
  }

  .slide__sony {
    margin: 0px;
    width: 128px;
    height: 26px;
    margin-left: 14px;
  }

  .link__next-read {
    margin: 0px 16px 0px 0px;
  }

  .button-next-read {
    margin-top: 24px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #f2f2f2;
  }

  .remove-pad {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1119.98px) {
  body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
  }

  .name-menu {
    font-family: TT Lakes;
    font-size: 16px;
    padding: 16px;
    padding-left: 24px;
    color: rgba(126, 126, 130, 1);
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    margin-top: 0px;
    border-top: 1px solid #D9FFF5;
  }

  .swiper-wrapper {
    padding: 0px;
    display: flex;
    flex-wrap: wrap; 
  }

  .slide {
    display: flex;
    max-width: 224px;
    height: 72px;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 16px;
    margin-left: 24px;
    align-items: center;
    border-radius: 6px;
  }

  .nav__next-read {
    margin-right: 16px;
  }

  .slide__lenovo {
    margin: 0px;
    width: 116px;
    height: 38.5px;
    margin-left: 16px;
  }

  .slide__samsung {
    margin: 0px;
    width: 108px;
    height: 32px;
    margin-left: 16px;
  }

  .slide__apple {
    margin: 0px;
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }

  .slide__bosh {
    width: 128px;
    height: 29px;
    margin-left: 16px;
  }

  .slide__hp {
    margin: 0px;
    width: 52px;
    height: 52px;
    margin-left: 10px;
  }

  .slide__acer {
    margin: 0px;
    width: 94px;
    height: 24px;
    margin-left: 16px;
  }

  .slide__viewSonic {
    margin: 0px;
    width: 128px;
    height: 21px;
    margin-left: 14px;
  }

  .slide__sony {
    margin: 0px;
    width: 128px;
    height: 26px;
    margin-left: 14px;
  }

  .link__next-read {
    margin: 0px 16px 0px 0px;
  }

  .button-next-read {
    margin-top: 24px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #f2f2f2;
  }

  .remove-desctop {
    display: none;
  }

}

@media (min-width: 1120px) {
  body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
  }

  .name-menu {
    font-family: TT Lakes;
    font-size: 16px;
    padding: 16px;
    padding-left: 24px;
    color: rgba(126, 126, 130, 1);
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    margin-top: 0px;
    border-top: 1px solid #D9FFF5;
  }

  .swiper-wrapper {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .slide {
    display: flex;
    max-width: 240px;
    height: 72px;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 16px;
    margin-left: 24px;
    align-items: center;
    border-radius: 6px;
  }

  .link__next-read {
    margin-right: 16px;
  }

  .slide__lenovo {
    width: 116px;
    height: 38.5px;
    margin-left: 16px;
  }

  .slide__samsung {
    width: 108px;
    height: 32px;
    margin-left: 16px;
  }

  .slide__apple {
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }

  .slide__bosh {
    width: 128px;
    height: 29px;
    margin-left: 16px;
  }

  .slide__hp {
    width: 52px;
    height: 52px;
    margin-left: 10px;
  }

  .slide__acer {
    width: 94px;
    height: 24px;
    margin-left: 16px;
  }

  .slide__viewSonic {
    width: 128px;
    height: 21px;
    margin-left: 14px;
  }

  .slide__sony {
    width: 128px;
    height: 26px;
    margin-left: 14px;
  }

  .button-next-read {
    margin-top: 24px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #f2f2f2;
  }

  .remove-desctop {
    display: none;
  }
}

.next-read-icon {
  margin-right: 17px;
}

.rotate {
  transform: rotate(180deg);
}

.clicked:before {
  content: 'Скрыть';
  font-family: TT Lakes;
  font-size: 16px;
}

.next-read-text:before {
  content: 'Показать все';
  font-family: TT Lakes;
  font-size: 16px;
}
