@media (min-width: 320px) {
  .card__img {
    margin-left: 14px;
  }

  .cards-brends {
    padding-left: 0px;
  }

  .button-card {
    position: absolute;
    right: 16px;
  }

  .card-brends {
    display: flex;
    min-width: 240px;
    height: 72px;
    margin-bottom: 36px;
    margin-left: 16px;
    background-color: white;
    align-items: center;
    border-radius: 6px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .card-brends {
    min-width: 224px;
    margin-bottom: 16px;
    margin-left: 24px;
  }
}

@media (min-width: 992px) {
  .card-brends {
    min-width: 20%;
  }
}

.button-card {
  background-color: white;
  border: none;
}

.button-card__icon:hover {
  background: #f2f2f2;
  border-radius: 50%;
}

.card-show {
  transition: all 1s;
  transform: translateY(0px);
}
