@media (min-width: 320px) {
  .commercial-offer {
    width: 75%;
    margin-left: 16px;
    font-size: 14px;
    margin-right: 16px;
  }

  .commercial-offer__button {
    display: flex;
    font-weight: 600;
    border: none;
    background-color: $grey;
    padding: 0px;
    text-align: start;
  }

  .commercial-offer__button:hover {
    opacity: 0.5;
    text-decoration: underline;
  }

  .commercial-offer__img {
    height: 8px;
    width: 11.5px;
  }
}

@media (min-width: 320px) {
  .commercial-offer {
    width: 421px;
  }
}
