::-webkit-scrollbar {
  width: 0;
}

.button:hover {
  opacity: 0.7;
}

.nav-menu__link .link:hover {
  text-decoration: underline;
}

.lang__button:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.active {
  color: #7e7e82;
}

.button:hover {
  opacity: 0.7;
}

.rotate {
  transform: rotate(180deg);
  transition: all 1s;
}

