@media (min-width: 320px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
    margin-bottom: 10px;
    background-color: $white;
  }

  .header__border-two,
  .header__button-call,
  .header__button-chat,
  .header__button-profile {
    display: none;
  }

  .header__button-menu {
    position: absolute;
    left: 16px;
  }

  .logo {
    position: absolute;
    left: 73px;
  }

  .header__border {
    position: absolute;
    right: 132px;
  }

  .header__button-repair {
    position: absolute;
    right: 16px;
  }

  .header__button-checkstatus {
    position: absolute;
    right: 73px;
  }

  .header__button-repair-text,
  .header__button-checkstatus-text {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__button-menu {
    left: 24px;
  }

  .header__border {
    left: 84px;
  }

  .logo {
    left: 107px;
  }

  .header__button-repair {
    right: 80px;
  }

  .header__button-checkstatus {
    right: 24px;
  }

  .header__border-two {
    display: initial;
    position: absolute;
    right: 140px;
  }

  .header__button-call {
    display: initial;
    position: absolute;
    right: 274px;
  }

  .header__button-profile {
    display: initial;
    position: absolute;
    right: 162px;
  }

  .header__button-chat {
    display: initial;
    position: absolute;
    right: 218px;
  }
}

@media (min-width: 1366px) {
  .header__button-menu,
  .logo,
  .header__border,
  .header__border-two,
  .header__button-call,
  .header__button-profile,
  .header__button-chat {
    display: none;
  }

  .header__button-repair {
    right: 230px;
  }

  .header__button-checkstatus {
    right: 30px;
  }

  .header__button-repair-text {
    display: initial;
    position: absolute;
    right: 278px;
  }

  .header__button-checkstatus-text {
    display: initial;
    position: absolute;
    right: 79px;
  }

  .header-menu__button {
    display: none;
  }

  .header-menu__logo {
    margin-left: 17px;
  }

  .header-menu__search {
    margin-left: 119px;
  }
}
