.active-menu-link {
  .link {
    border-left: 4px solid $light-green;
    color: $light-gray;
    padding-left: 20px;
    margin-left: 0;
  }
}

footer {
  .link {
    display: block;
    margin-left: 24px;
    margin-right: 190px;
    margin-bottom: 12px;
    text-decoration: none;
    color: $black;
    font-family: TT Lakes;
  }
}

.link:hover {
  text-decoration: underline;
}
