@media (min-width: 320px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 16px;
    overflow: scroll;
    white-space: nowrap;
    list-style-type: none;
    padding: 0px;
  }

  .nav__link {
    text-decoration: none;
    color: $light-gray;
  }

  .nav_active {
    font-size: 16px;
    order: -1;
    padding: 8px 9px 8px 16px;
    border: solid 1px $light-green;
    background-color: $white;
    border-radius: 6px;
  }

  .nav__item {
    font-size: 16px;
    margin-right: 20px;
  }
}

.nav__item:hover {
  font-weight: medium;
  color: $black;
  text-decoration: underline;
}

.nav-menu {
  ul {
    padding: 0px;
    margin-bottom: 268px;
  }
}

.nav-menu {
  .nav-menu__link {
    margin-bottom: 32px;
    list-style-type: none;
  }
}

.nav-menu__link .link {
  text-decoration: none;
  color: $black;
  margin-left: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
