@media (min-width: 768px) {
  .remove-pad-brends {
    visibility: hidden;
    position: absolute;
    transform: translateY(-30px);
  }

  .remove-pad-equipment {
    visibility: hidden;
    position: absolute;
    transform: translateY(-30px);
  }

  .remove-desctop-equipment {
    visibility: hidden;
    position: absolute;
    transform: translateY(-30px);
  }
}

@media (min-width: 992px) {
  .remove-pad-brends {
    visibility: visible;
    position: relative;
    transform: none;
  }

  .remove-desctop-brends {
    visibility: hidden;
    position: absolute;
    transform: translateY(-30px);
  }

  .remove-pad-equipment {
    visibility: visible;
    position: relative;
    transform: none;
  }
}
