@media (min-width: 320px) {
  .request-call {
    margin-left: 16px;
  }

  .modal-request-call {
    margin: 0px;
    padding: 0px;
    width: 320px;
    height: 676px;
    font-family: TT Lakes;
    position: absolute;
    transition: all 1s ease;
    background-color: $white;
    z-index: 20;
    right: -620px;
    opacity: 0;
  }

  .request-call__cansel {
    margin-top: 24px;
  }

  .request-call__header {
    margin-left: -16px;
    padding-left: 16px;
    font-size: 24px;
    font-weight: bold;
    border-left: #41f6d7 4px solid;
  }

  .entry-field {
    color: $black;
    font-size: 16px;
    width: 270px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background: #ffffff;
    padding-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    font-family: TT Lakes;
  }

  .request-call__terms {
    color: $light-gray;
    font-size: 14px;
    width: 288px;
  }

  .selection {
    color: $pink;
    font-weight: 500;
    text-decoration: none;
  }

  .request-call__button-submit {
    font-size: 12px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    background: $pink;
    color: $white;
    border: 1px solid $pink;
    margin-left: 152px;
  }
}

@media (min-width: 1366px) {
  .modal-request-call {
    width: 440px;
    height: 940px;
    margin-left: 31px;
    border-left: 1px solid $light-blue;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  .request-call__cansel {
    position: absolute;
    left: -72px;
    top: 10px;
  }

  .request-call__header {
    padding-left: 31px;
    margin-top: 40px;
  }

  .entry-field {
    width: 376px;
  }

  .request-call__terms {
    width: 376px;
  }

  .request-call__button-submit {
    margin-left: 241px;
  }
}

.request-call__button-submit:hover {
  opacity: 0.7;
}
