@media (min-width: 320px) {
  .shadow {
    width: 24px;
    height: 40px;
    background: linear-gradient(
      270deg,
      $grey 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    position: absolute;
    right: 0;
    top: 163px;
  }

  .shadow-slide {
    width: 24px;
    height: 105px;
    position: absolute;
    right: 0;
    top: 650px;
    z-index: 2;
    background: linear-gradient(
      270deg,
      $grey 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  .shadow-type-equipment {
    width: 24px;
    height: 196px;
    position: absolute;
    right: 0;
    top: 860px;
    z-index: 2;
    background: linear-gradient(
      270deg,
      $grey 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

.shadow-price-list {
  width: 24px;
  height: 230px;
  position: absolute;
  right: 0;
  top: 1160px;
  z-index: 2;
  background: linear-gradient(
    270deg,
    $grey 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}

@media (min-width: 768px) {
  .shadow-slide {
    display: none;
  }

  .shadow-type-equipment {
    display: none;
  }

  .shadow-price-list {
    display: none;
  }
}
