body {
  width: 320px;
  height: 1024px;
  margin: 0;
  padding: 0;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}

.header {
  display: flex;
  margin-bottom: 57px;
  padding-top: 23px;
}

.header__button {
  margin-right: 17px;
  margin-left: 24px;
}

.header__logo {
  margin-top: -4px;
  height: 51px;
}

.header__search {
  margin-right: 24px;
  margin-left: 78px;
}

.nav ul {
  padding: 0px;
  margin-bottom: 268px;
}

.nav .nav__link {
  margin-bottom: 32px;
  list-style-type: none;
}

.nav__link .link {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.link:hover {
  text-decoration: underline;
}

.active .link {
  border-left: 4px solid #41f6d7;
  color: #7e7e82;
  padding-left: 24px;
  margin-left: 0;
}

.footer-button {
  display: flex;
  margin-top: -32px;
  margin-bottom: 16px;
}

.footer-button__call {
  margin-left: 24px;
  margin-right: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.footer-button__chat {
  margin-right: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.footer-button__profile {
  margin-right: 144px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

footer .link {
  display: block;
  margin-left: 24px;
  margin-right: 190px;
  margin-bottom: 12px;
  text-decoration: none;
  color: black;
  font-family: TT Lakes;
}

.phone {
  display: block;
  font-family: TT Lakes;
  font-size: 24px;
  font-weight: bold;
  margin-left: 24px;
  margin-bottom: 40px;
}

.lang {
  display: flex;
  margin-left: 24px;
}

.lang__button {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.lang__button:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.active {
  color: #7e7e82;
}

.button:hover {
  opacity: 0.7;
}

.button {
  background-color: rgba(255, 62, 121, 1);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: 4px;
  border: none;
}
